.about {
  padding-top: 0;

  .wrapper {
    display: flex;

    & > * {
      flex-basis: 50%;
    }
  }

  .innovation {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 30px;

    &::before {
      content: "";
      position: absolute;
      z-index: -5;
      left: -60px;
      width: calc(100% + 60px);
      height: 100%;
      background: center / cover no-repeat url("../img/innovation-bg.avif");
    }

    &__title {
      font-size: 58px;
      font-weight: 800;
      text-transform: uppercase;
    }
  }

  .options {
    padding: 98px 0 98px 94px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    &__item {
      padding: 25px 35px;
      font-size: 32px;
      font-weight: 800;
      border-radius: $br-btn;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      @for $i from 1 through 7 {
        &:nth-child(#{$i}) {
          background-image: url("../img/options/#{$i}.avif");
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .about .innovation__title {
    font-size: 46px;
  }

  .about .options {
    padding: 60px 0 60px 50px;

    &__item {
      font-size: 28px;
    }
  }
}

@media screen and (max-width: 992px) {
  .about .wrapper {
    flex-direction: column;
  }

  .about .innovation {
    padding: 150px 0;

    &::before {
      left: -15px;
      width: calc(100% + 30px);
    }
  }

  .about .options {
    padding: 50px 50px 0;
  }
}

@media screen and (max-width: 768px) {
  .about .innovation__title {
    font-size: 40px;
  }

  .about .options {
    padding: 50px 20px 0;

    &__item {
      font-size: 24px;
      border-radius: $br-btn-sm;
    }
  }
}

@media screen and (max-width: 576px) {
  .about .innovation {
    padding: 100px 0;

    &__title {
      font-size: 32px;
    }
  }

  .about .options {
    padding: 30px 0 0;

    &__item {
      padding: 20px;
      font-size: 20px;
    }
  }
}
