.banner {
  min-height: 100vh;
  display: flex;
  align-items: flex-end;
  background: center / cover no-repeat linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../img/banner.avif");

  &__title {
    margin: 0;
    font-weight: 800;
    font-size: 60px;
    line-height: 0.95;
    text-transform: uppercase;
    text-shadow: 0 0 1px $color-main;
  }

  &__links {
    margin-top: 40px;
    display: flex;
    align-items: center;
    column-gap: 15px;

    .btn-fill {
      padding: 29px 40px;
      font-size: 28px;
      border-width: 2px;
    }
  }
}

@media screen and (max-width: 1100px) {
  .banner__title {
    font-size: 48px;
  }

  .banner__links .btn-fill {
    padding: 20px 30px;
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  .banner__title {
    font-size: 42px;
  }

  .banner__links .btn-fill {
    font-size: 20px;
  }
}

@media screen and (max-width: 576px) {
  .banner__title {
    font-size: 36px;
  }

  .banner__links {
    margin-top: 25px;

    .btn-fill {
      padding: 15px;
      font-size: 16px;
    }
  }
}
