.blog {
  padding-bottom: 80px;

  &__content {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    gap: 15px;
  }

  &__link {
    flex-shrink: 0;
    max-width: 445px;
    height: 300px;
    padding: 30px 40px 40px;
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    color: $color-light;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: $br;

    .link__icon {
      flex-shrink: 0;
      width: 45px;
      height: 45px;
      margin-left: auto;
      background: center / 15px no-repeat
        url("data:image/svg+xml,%3Csvg viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.06055 15.9L15.4605 1.5M15.4605 1.5H2.26056M15.4605 1.5V14.7' stroke='white' stroke-width='3'/%3E%3C/svg%3E");
      border: 1px solid $color-light;
      border-radius: 50%;
    }

    .link__title {
      margin-top: auto;
      font-size: 32px;
      font-weight: 800;
      text-shadow: 0 0 1px #000;
    }

    .link__descr {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      text-shadow: 0 0 1px #000;
    }
  }

  .btn {
    width: fit-content;
    display: block;
    margin: 30px auto 0;
    color: $color-main;
    border-color: $color-main;

    .btn__icon {
      stroke: $color-main;
    }

    &:hover {
      color: $color-hover;
      border-color: $color-hover;

      .btn__icon {
        stroke: $color-hover;
      }
    }

    &:active {
      color: $color-main;
      border-color: $color-main;

      .btn__icon {
        stroke: $color-main;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .blog {
    padding-bottom: inherit;
  }
}

@media screen and (max-width: 768px) {
  .blog__link {
    padding: 20px 30px 30px;
    border-radius: $br-btn-sm;

    .link__title {
      font-size: 26px;
    }
  }
}

@media screen and (max-width: 576px) {
  .blog__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  .blog__link {
    padding: 20px 25px 25px;
    height: 250px;
    row-gap: 15px;

    .link__title {
      font-size: 22px;
    }
  }
}
