.comments {
  .comment {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: $color-text;
    background-color: #f0f0f0;
    border-radius: 20px;

    &__rating {
      font-size: 45px;
      color: #f8b805;
    }

    &__author {
      margin-top: auto;
      font-size: 24px;
      font-weight: 600;
    }

    &__text {
      font-size: 14px;
      line-height: 1.15;
    }
  }

  .splide {
    &__arrow {
      width: 60px;
      height: 60px;
      background-color: transparent;
      border: 3px solid #000;
      background-position: center;
      background-size: 15px 30px;
      background-repeat: no-repeat;
      transition: border-color 0.25s, background-position 0.25s;

      &--prev {
        left: -80px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.8711 1.43555L2.87109 16.4355L17.8711 31.4355' stroke='black' stroke-width='4.06'/%3E%3C/svg%3E");

        &:hover {
          background-position: 38% center;
          background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.8711 1.43555L2.87109 16.4355L17.8711 31.4355' stroke='%233055cf' stroke-width='4.06'/%3E%3C/svg%3E");
          border-color: $color-main;
        }
      }

      &--next {
        right: -80px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.43555 1.43555L16.4355 16.4355L1.43555 31.4355' stroke='black' stroke-width='4.06'/%3E%3C/svg%3E%0A");

        &:hover {
          background-position: 62% center;
          background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.43555 1.43555L16.4355 16.4355L1.43555 31.4355' stroke='%233055cf' stroke-width='4.06'/%3E%3C/svg%3E%0A");
          border-color: $color-main;
        }
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .splide__track {
    margin: 0 auto;
    width: calc(100% - 200px);
  }

  .comments .splide__arrow {
    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
    }
  }
}

@media screen and (max-width: 992px) {
  .splide__track {
    width: calc(100% - 150px);
  }
}

@media screen and (max-width: 768px) {
  .splide__track {
    width: 100%;
  }

  .comments .splide__arrow {
    border: none;
  }

  .comments .comment {
    padding: 20px;
    row-gap: 25px;

    &__rating {
      font-size: 35px;
    }

    &__author {
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 576px) {
  .comments .splide__arrow {
    display: none;
  }

  .comments .comment__author {
    font-size: 21px;
  }
}
