.header {
  padding-top: 30px;
  margin-bottom: -83px;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo__img {
    transition: filter 0.25s ease-in-out;

    &:hover {
      filter: drop-shadow(0 4px 10px $color-main);
    }
  }

  .nav {
    &__list {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 40px;
    }

    &__link {
      font-size: 20px;
      font-weight: 600;
      line-height: 1;
      color: $color-light;
    }
  }
}
