.portfolio {
  .event {
    color: $color-light;
    background: center / cover no-repeat;

    &:nth-child(2n) {
      .event__content {
        margin-left: auto;
      }
    }

    &:nth-child(1) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/portfolio/1.avif");
    }

    &:nth-child(2) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/portfolio/2.avif");
    }

    &:nth-child(3) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/portfolio/3.avif");
    }

    &__content {
      width: 100%;
      max-width: 440px;
    }

    &__header {
      padding: 60px 32px 50px 60px;
      background-color: #7db9fe;
    }

    &__title {
      font-size: 36px;
      font-weight: 800;
    }

    &__count {
      margin-top: 5px;
    }

    &__subtitle {
      margin-top: 30px;
    }

    &__descr {
      padding: 70px 20px 70px 60px;
      backdrop-filter: blur(2px);
      background-color: rgba(0, 0, 0, 0.75);
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .portfolio .event {
    padding-bottom: 250px;
    background-size: 100% auto;
    background-position: center bottom 0;

    &__descr {
      padding: 50px 60px 45px;
      background-color: rgba(0, 0, 0, 0.95);
    }
  }

  .portfolio .event__header {
    padding: 50px 60px 45px;
  }

  .portfolio .event__content {
    max-width: none;
  }

  .portfolio .event__title {
    font-size: 36px;
  }
}

@media screen and (max-width: 576px) {
  .portfolio .event {
    padding-bottom: 200px;

    &__title {
      font-size: 26px;
    }

    &__subtitle {
      margin-top: 20px;
    }

    &__header,
    &__descr {
      padding: 35px 40px 30px;
    }
  }
}
