.portfolio {
  .event {
    display: flex;
    color: $color-light;
    background: center / cover no-repeat;

    &:nth-child(2n) {
      flex-direction: row-reverse;
    }

    &:nth-child(1) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/portfolio/1.avif");
    }

    &:nth-child(2) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/portfolio/2.avif");
    }

    &:nth-child(3) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/portfolio/3.avif");
    }

    &__content {
      flex-shrink: 0;
      width: 100%;
      max-width: 440px;
      display: flex;
      flex-direction: column;
    }

    &__header {
      padding: 60px 32px 50px 60px;
      min-height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #7db9fe;
    }

    &__title {
      font-size: 36px;
      font-weight: 800;
    }

    &__subtitle {
      margin-top: 10px;
    }

    &__descr {
      padding: 70px 20px 70px 60px;
      backdrop-filter: blur(2px);
      background-color: rgba(0, 0, 0, 0.75);
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }

    &__player {
      flex: 1;
      position: relative;
      z-index: 0;
    }

    &__video {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 992px) {
  .portfolio .event__content {
    max-width: none;
    flex-direction: row;
  }

  .portfolio .event,
  .portfolio .event:nth-child(2n) {
    flex-direction: column;
  }

  .portfolio .event__video {
    position: static;
  }
}

@media screen and (max-width: 768px) {
  .portfolio .event {
    background-size: 100% auto;
    background-position: center bottom 0;

    &__descr {
      padding: 50px 60px 45px;
      background-color: rgba(0, 0, 0, 0.95);
    }
  }

  .portfolio .event__header {
    min-height: 150px;
    padding: 50px 60px 45px;
  }

  .portfolio .event__content {
    flex-direction: column;
  }

  .portfolio .event__title {
    font-size: 36px;
  }
}

@media screen and (max-width: 576px) {
  .portfolio .event {
    &__title {
      font-size: 26px;
    }

    &__header,
    &__descr {
      padding: 35px 40px 30px;
    }
  }
}
