.request {
  padding: 50px 0 70px;
  background: linear-gradient(to right, $color-main, $color-main 50%, $color-light 50%, $color-light);

  .wrapper {
    display: flex;
    align-items: flex-start;

    & > * {
      flex-basis: 50%;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 24px;

    .logo {
      width: fit-content;
    }

    .social__link {
      display: block;
      width: 40px;
      height: 40px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

      &_ig {
        background-image: url("../img/social/insta.svg");
      }

      &_in {
        background-image: url("../img/social/linkedin.svg");
      }

      &_fb {
        background-image: url("../img/social/fb.svg");
      }
    }
  }

  .contacts {
    &__title {
      margin: 25px 0 15px;
      font-size: 34px;
      font-weight: 600;
    }

    &__email {
      font-size: 25px;
      color: $color-light;
    }

    &__social {
      display: flex;
      column-gap: 20px;
    }

    &__line {
      width: 80%;
      max-width: 530px;
      height: 1px;
      color: $color-light;
      background-color: $color-light;
    }

    &__copy {
      font-size: 16px;
    }
  }

  .address {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    &__link {
      font-size: 18px;
      text-decoration: underline;
      color: $color-light;
    }

    &__number {
      margin-top: 10px;
      font-size: 20px;
      color: $color-light;
    }
  }

  &__form {
    padding-left: 115px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    color: $color-text;

    .form {
      &__row {
        display: flex;
        flex-direction: column;
        row-gap: 7px;
      }

      &__btns {
        margin-top: 9px;
        text-align: center;
      }

      &__btn {
        margin-left: 45px;
        padding: 8px 30px;
        font-size: 24px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .request {
    padding-bottom: 25px;
    background: none;

    .contacts__title {
      margin-top: 10px;
    }

    &__form {
      padding-left: 0;

      .form__btn {
        margin-left: inherit;
      }
    }

    &__contacts {
      position: relative;
      align-items: stretch;

      &::before {
        content: "";
        position: absolute;
        z-index: -5;
        top: -20px;
        right: -15px;
        bottom: -25px;
        left: -15px;
        background-color: $color-main;
      }
    }

    .wrapper {
      flex-direction: column-reverse;
      align-items: stretch;
      row-gap: 50px;

      & > * {
        flex-basis: 100%;
      }
    }

    .contacts__line {
      width: 100%;
      max-width: none;
    }
  }

  .contacts__logo {
    width: 210px;
  }
}

@media screen and (max-width: 768px) {
  .contacts__logo {
    width: 172px;
  }

  .request {
    padding-top: 25px;
  }

  .request .contacts__title {
    margin: 5px 0;
    font-size: 24px;
  }

  .request .address__link,
  .request .address__number {
    font-size: 18px;
  }

  .request .contacts__email {
    font-size: 22px;
  }

  .request__contacts .social__link {
    width: 32px;
    height: 32px;
  }

  .request__form .form__btn {
    font-size: 18px;
  }

  .form__row label {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .request .contacts__title {
    font-size: 20px;
  }

  .request__contacts {
    row-gap: 15px;
  }

  .request .address__link,
  .request .address__number {
    font-size: 16px;
  }

  .request .contacts__email {
    font-size: 18px;
  }

  .request__contacts .social__link {
    width: 28px;
    height: 28px;
  }

  .request .contacts__line {
    height: 0;
  }

  .request__form .form__btn {
    font-size: 16px;
  }
}
