.why {
  &__content {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  .benefit {
    display: flex;
    column-gap: 15px;

    &:nth-child(2n) {
      flex-direction: row-reverse;
    }

    .benefit__descr {
      overflow: hidden;
      position: relative;
      z-index: 0;

      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), center / cover no-repeat url('../img/benefits/3.avif');
        border-radius: inherit;
        transition: left 0.35s ease-in-out;
      }

      &::after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: calc(100% + 8px);
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), center / cover no-repeat url('../img/benefits/3.avif');
        border-radius: inherit;
        transition: left 0.35s ease-in-out;
        filter: blur(2px);
      }

      &:hover {
        &::before {
          left: calc(-100% - 8px);
        }

        &::after {
          left: 0;
        }
      }
    }

    &:nth-child(1) {
      .benefit__info {
        background-color: $color-main;

        .benefit__icon {
          background-image: url("data:image/svg+xml,%3Csvg width='25' height='39' viewBox='0 0 25 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.2031 1.5C18.1144 1.5 22.9071 6.29193 22.9072 12.2031C22.9072 15.0762 21.7766 17.6826 19.9336 19.6064L19.876 19.667L19.8242 19.7334C16.6869 23.8433 15.7001 27.7018 15.4941 31.042H8.91211C8.70615 27.7018 7.71935 23.8433 4.58203 19.7334L4.53125 19.667L4.47266 19.6064L4.13574 19.2373C2.4932 17.3553 1.5 14.8965 1.5 12.2031C1.50014 6.29202 6.29202 1.50014 12.2031 1.5Z' stroke='white' stroke-width='3'/%3E%3Cpath d='M8.45752 35.0424H12.2033H15.949' stroke='white' stroke-width='1.7' stroke-linecap='round'/%3E%3Cpath d='M9.45752 38.0424H12.2033H14.949' stroke='white' stroke-width='1.7' stroke-linecap='round'/%3E%3C/svg%3E");
        }
      }

      .benefit__descr {
        &::before {
          background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), center / cover no-repeat url('../img/benefits/1.avif');
          background-position: center 10%;
        }

        &::after {
          background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), center / cover no-repeat url('../img/benefits/1.avif');
          background-position: center 10%;
        }
      }
    }

    &:nth-child(2) {
      .benefit__info {
        background-color: $color-secondary;

        .benefit__icon {
          background-image: url("data:image/svg+xml,%3Csvg width='34' height='21' viewBox='0 0 34 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 18.9599L10.133 10.8269C10.9141 10.0458 12.1804 10.0458 12.9614 10.8269L16.6531 14.5185C17.4341 15.2996 18.7004 15.2996 19.4815 14.5185L32 2M32 2H21.2885M32 2V12.7115' stroke='white' stroke-width='4' stroke-linecap='round'/%3E%3C/svg%3E");
        }
      }

      .benefit__descr {
        &::before {
          background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), center / cover no-repeat url('../img/benefits/2.avif');
          background-position: 50% 25%;
        }

        &::after {
          background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), center / cover no-repeat url('../img/benefits/2.avif');
          background-position: 50% 25%;
        }
      }
    }

    &:nth-child(3) {
      .benefit__info {
        background-color: $color-text;

        .benefit__icon {
          background-image: url("data:image/svg+xml,%3Csvg width='28' height='31' viewBox='0 0 28 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.9999 14V8.39999C6.9999 6.54348 7.7374 4.763 9.05016 3.45025C10.3629 2.13749 12.1434 1.39999 13.9999 1.39999C15.8564 1.39999 17.6369 2.13749 18.9497 3.45025C20.2624 4.763 20.9999 6.54348 20.9999 8.39999V14M13.9999 19.4V23.9M4.1999 14H23.7999C25.3463 14 26.5999 15.2536 26.5999 16.8V26.6C26.5999 28.1464 25.3463 29.4 23.7999 29.4H13.9999H4.1999C2.65351 29.4 1.3999 28.1464 1.3999 26.6V16.8C1.3999 15.2536 2.65351 14 4.1999 14Z' stroke='white' stroke-width='2.8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        }
      }

      .benefit__descr {
        overflow: hidden;
        position: relative;
        z-index: 0;

        &::before {
          background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), center / cover no-repeat url('../img/benefits/3.avif');
        }

        &::after {
          background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), center / cover no-repeat url('../img/benefits/3.avif');
        }
      }
    }

    &__info,
    &__descr {
      padding: 40px 20px 40px 35px;
      display: flex;
      flex-direction: column;
      border-radius: $br;

      .benefit__title {
        margin: 50px 0 25px;
      }
    }

    &__info {
      flex-basis: calc(100% / 3);
    }

    &__descr {
      flex-basis: calc(2 * 100% / 3);
      justify-content: flex-end;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &__icon {
      width: 60px;
      height: 60px;
      border: 2px solid $color-light;
      border-radius: 50%;
      background-position: center;
      background-repeat: no-repeat;
    }

    &__title {
      font-size: 32px;
      font-weight: 800;
    }
  }
}

@media screen and (max-width: 992px) {
  .why .benefit__title {
    font-size: 28px;
  }
}

@media screen and (max-width: 768px) {
  .why__content {
    row-gap: 10px;
  }

  .why .benefit {
    column-gap: 10px;

    &__icon {
      width: 28px;
      height: 28px;
      background-size: 14px;
    }

    &:nth-child(1) .benefit__icon {
      background-size: 12px;
    }

    &:nth-child(2) .benefit__icon {
      background-size: 16px;
    }
  }

  .why .benefit__title {
    font-size: 22px;
  }

  .why .benefit__info .benefit__title,
  .why .benefit__descr .benefit__title {
    margin: 30px 0 15px;
  }

  .why .benefit__info,
  .why .benefit__descr {
    padding: 20px 10px 20px 25px;
    border-radius: $br-btn-sm;
  }
}

@media screen and (max-width: 576px) {
  .why__content {
    row-gap: 5px;
  }

  .why .benefit {
    column-gap: 5px;
  }

  .why .benefit__title {
    font-size: 18px;
  }

  .why .benefit__info,
  .why .benefit__descr {
    padding: 15px 10px 15px 15px;
    border-radius: 12px;
  }

  .why .benefit__info .benefit__title,
  .why .benefit__descr .benefit__title {
    margin: 20px 0 12px;
  }

  .benefit__text {
    font-size: 12px;
  }
}
