@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"), url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
.btn {
  padding: 10px 20px;
  font-family: "Montserrat", Verdana, sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 30px;
}
.btn__icon {
  margin-left: 10px;
  width: 0.8em;
  height: 0.8em;
  stroke: #fff;
  transition: transform 0.3s linear, stroke 0.3s ease-in-out;
}
.btn:hover {
  color: #daff01;
  border-color: #daff01;
}
.btn:hover .btn__icon {
  stroke: #daff01;
  transform: rotate(45deg);
}
.btn:active {
  color: #fff;
  border-color: #fff;
}
.btn:active .btn__icon {
  stroke: #fff;
}
.btn-fill {
  color: #7db9fe;
  border-color: #7db9fe;
}
.btn-fill .btn__icon {
  stroke: #7db9fe;
}
.btn-fill:active {
  color: #7db9fe;
  border-color: #7db9fe;
}
.btn-fill:active .btn__icon {
  stroke: #7db9fe;
}
.btn-dark {
  color: #000;
  border-color: #000;
}
.btn-dark .btn__icon {
  stroke: #000;
}
.btn-dark:hover {
  color: #7db9fe;
  border-color: #7db9fe;
}
.btn-dark:hover .btn__icon {
  stroke: #7db9fe;
}
.btn-dark:active {
  color: #000;
  border-color: #000;
}
.btn-dark:active .btn__icon {
  stroke: #000;
}

@media screen and (max-width: 768px) {
  .btn {
    font-size: 16px;
    font-weight: 600;
    border-radius: 40px;
  }
}
input,
textarea {
  padding: 10.5px 15px;
  border: 1px solid #000;
  border-radius: 50px;
  font-family: "Montserrat", Verdana, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  color: rgba(0, 0, 0, 0.5019607843);
  outline: none;
}

textarea {
  height: 110px;
  border-radius: 25px;
  resize: none;
}

@media screen and (max-width: 768px) {
  input,
  textarea {
    padding: 8px 10px;
    font-size: 14px;
  }
}
.burger {
  flex-shrink: 0;
  margin-left: 10px;
  padding: 0;
  width: 34px;
  height: 22px;
  position: relative;
  z-index: 20;
  cursor: pointer;
  background-color: transparent;
}
.burger__line {
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  left: 50%;
  background-color: #fff;
}
.burger__line:nth-child(1) {
  top: 0;
  transform: translateX(-50%) translateY(0);
  transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
}
.burger__line:nth-child(2) {
  top: 50%;
  opacity: 1;
  transform: translateX(-50%) translateY(-50%);
  transition: opacity 0.3s;
}
.burger__line:nth-child(3) {
  top: 100%;
  transform: translateX(-50%) translateY(-100%);
  transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
}

.burger_open .burger__line:nth-child(1) {
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s;
}
.burger_open .burger__line:nth-child(2) {
  opacity: 0;
}
.burger_open .burger__line:nth-child(3) {
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", Verdana, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 0.97;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
}

section {
  padding: 50px 0;
}

.wrapper {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1350px;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.sprite {
  display: none;
}

.title {
  margin: 50px 0 100px;
  position: relative;
  z-index: 0;
  text-align: center;
}
.title__text {
  font-size: 60px;
  font-weight: 800;
  text-transform: uppercase;
  color: #3055cf;
}
.title__subtext {
  font-size: 180px;
  font-weight: 800;
  color: #f0f0f0;
  position: absolute;
  z-index: -5;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.disable-scroll {
  overflow-y: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.overlay {
  position: fixed;
  z-index: 5;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  transition: opacity 0.3s ease-in-out, visibility 0.3s linear;
}

.js-validate-error-label {
  display: none;
}

@media screen and (max-width: 1400px) {
  .title__subtext {
    font-size: 150px;
  }
}
@media screen and (max-width: 1200px) {
  .title__subtext {
    font-size: 120px;
  }
}
@media screen and (max-width: 992px) {
  .title {
    margin-top: 15px;
  }
  .title__subtext {
    font-size: 90px;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }
  section {
    padding: 25px 0;
  }
  .title {
    margin-bottom: 60px;
  }
  .title__text {
    font-size: 52px;
  }
  .title__subtext {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .title {
    margin-bottom: 40px;
  }
  .title__text {
    font-size: 42px;
  }
}
.header {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding-top: 30px;
}
.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .wrapper:not(:has(.nav.open)) .overlay {
  opacity: 0;
  visibility: hidden;
}
.header .logo__img {
  transition: filter 0.25s ease-in-out;
}
.header .logo__img:hover {
  filter: drop-shadow(0 4px 10px #3055cf);
}
.header .nav:not(.open) .nav__btn {
  display: none;
}
.header .nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.header .nav__link {
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  text-shadow: 0 0 1px #000;
}
.header .nav__btn {
  font-size: 18px;
}
.header .btn-lg {
  padding: 10px 30px;
}

@media screen and (min-width: 1051px) {
  .burger {
    display: none;
  }
  .nav__link {
    background: linear-gradient(to right, #fff, #fff) 0 100% no-repeat;
    background-size: 0 1px;
    transition: 0.3s ease-in-out;
  }
  .nav__link:hover {
    background-size: 100% 1px;
  }
}
@media screen and (max-width: 1050px) {
  .nav {
    position: fixed;
    z-index: 15;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 25px;
    opacity: 0;
    visibility: hidden;
    transition: right 0.3s linear, opacity 0.3s ease, visibility 0.3s ease;
  }
  .nav.open {
    right: 0;
    opacity: 1;
    visibility: visible;
  }
  .header .nav__list {
    flex-direction: column;
    row-gap: 25px;
  }
  .btn-lg {
    display: none;
  }
  .header .wrapper:has(.nav.open) .overlay {
    opacity: 1;
    visibility: visible;
  }
}
@media screen and (max-width: 768px) {
  .header {
    margin-bottom: -58px;
    padding-top: 20px;
  }
  .header .logo__img {
    width: 182px;
  }
}
@media screen and (max-width: 576px) {
  .header {
    margin-bottom: -65px;
  }
}
.header {
  position: static;
  margin-bottom: 0;
}
.header .nav__link {
  color: #000;
  text-shadow: 0 0 1px #7db9fe;
  background: linear-gradient(to right, #000, #000) 0 100% no-repeat;
  background-size: 0 1px;
}
.header .nav__link:hover {
  background-size: 100% 1px;
}
.header .btn-lg {
  color: #000;
  border-color: #000;
}
.header .btn-lg:hover {
  color: #7db9fe;
  border-color: #7db9fe;
}
.header .burger__line {
  background-color: #000;
}
.header .burger_open .burger__line {
  background-color: #fff;
}

@media screen and (max-width: 1050px) {
  .header .nav__link {
    color: #fff;
  }
}
.slider {
  text-align: center;
}
.slider__slide {
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 25px;
  border-radius: 32px;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), center/cover no-repeat url("../img/article.avif");
}
.slider__title {
  font-size: 50px;
  font-weight: 800;
  text-shadow: 0 0 2px #000;
}
.slider__descr {
  font-size: 25px;
  text-shadow: 0 0 1px #000;
}

@media screen and (max-width: 992px) {
  .slider__slide {
    border-radius: 24px;
  }
}
@media screen and (max-width: 768px) {
  .slider__slide {
    border-radius: 18px;
  }
}
.blog {
  padding-bottom: 80px;
}
.blog__content {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  gap: 15px;
}
.blog__link {
  flex-shrink: 0;
  max-width: 445px;
  height: 300px;
  padding: 30px 40px 40px;
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
}
.blog__link .link__icon {
  flex-shrink: 0;
  width: 45px;
  height: 45px;
  margin-left: auto;
  background: center/15px no-repeat url("data:image/svg+xml,%3Csvg viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.06055 15.9L15.4605 1.5M15.4605 1.5H2.26056M15.4605 1.5V14.7' stroke='white' stroke-width='3'/%3E%3C/svg%3E");
  border: 1px solid #fff;
  border-radius: 50%;
}
.blog__link .link__title {
  margin-top: auto;
  font-size: 32px;
  font-weight: 800;
  text-shadow: 0 0 1px #000;
}
.blog__link .link__descr {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-shadow: 0 0 1px #000;
}
.blog .btn {
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  margin: 30px auto 0;
  color: #3055cf;
  border-color: #3055cf;
}
.blog .btn .btn__icon {
  stroke: #3055cf;
}
.blog .btn:hover {
  color: #daff01;
  border-color: #daff01;
}
.blog .btn:hover .btn__icon {
  stroke: #daff01;
}
.blog .btn:active {
  color: #3055cf;
  border-color: #3055cf;
}
.blog .btn:active .btn__icon {
  stroke: #3055cf;
}

@media screen and (max-width: 992px) {
  .blog {
    padding-bottom: inherit;
  }
}
@media screen and (max-width: 768px) {
  .blog__link {
    padding: 20px 30px 30px;
    border-radius: 18px;
  }
  .blog__link .link__title {
    font-size: 26px;
  }
}
@media screen and (max-width: 576px) {
  .blog__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
  .blog__link {
    padding: 20px 25px 25px;
    height: 250px;
    row-gap: 15px;
  }
  .blog__link .link__title {
    font-size: 22px;
  }
}
.request {
  padding: 50px 0 70px;
  background: linear-gradient(to right, #3055cf, #3055cf 50%, #fff 50%, #fff);
}
.request .wrapper {
  display: flex;
  align-items: flex-start;
}
.request .wrapper > * {
  flex-basis: 50%;
}
.request__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 24px;
}
.request__contacts .logo {
  width: -moz-fit-content;
  width: fit-content;
}
.request__contacts .social__link {
  display: block;
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.request__contacts .social__link_ig {
  background-image: url("../img/social/insta.svg");
}
.request__contacts .social__link_in {
  background-image: url("../img/social/linkedin.svg");
}
.request__contacts .social__link_fb {
  background-image: url("../img/social/fb.svg");
}
.request .contacts__title {
  margin: 25px 0 15px;
  font-size: 34px;
  font-weight: 600;
}
.request .contacts__email {
  font-size: 25px;
  color: #fff;
}
.request .contacts__social {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.request .contacts__line {
  width: 80%;
  max-width: 530px;
  height: 1px;
  color: #fff;
  background-color: #fff;
}
.request .contacts__copy {
  font-size: 16px;
}
.request .address {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.request .address__link {
  font-size: 18px;
  text-decoration: underline;
  color: #fff;
}
.request .address__number {
  margin-top: 10px;
  font-size: 20px;
  color: #fff;
}
.request__form {
  padding-left: 115px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  color: #000;
}
.request__form .form__row {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}
.request__form .form__btns {
  margin-top: 9px;
  text-align: center;
}
.request__form .form__btn {
  margin-left: 45px;
  padding: 8px 30px;
  font-size: 24px;
}

@media screen and (max-width: 992px) {
  .request {
    padding-bottom: 25px;
    background: none;
  }
  .request .contacts__title {
    margin-top: 10px;
  }
  .request__form {
    padding-left: 0;
  }
  .request__form .form__btn {
    margin-left: inherit;
  }
  .request__contacts {
    position: relative;
    align-items: stretch;
  }
  .request__contacts::before {
    content: "";
    position: absolute;
    z-index: -5;
    top: -20px;
    right: -15px;
    bottom: -25px;
    left: -15px;
    background-color: #3055cf;
  }
  .request .wrapper {
    flex-direction: column-reverse;
    align-items: stretch;
    row-gap: 50px;
  }
  .request .wrapper > * {
    flex-basis: 100%;
  }
  .request .contacts__line {
    width: 100%;
    max-width: none;
  }
  .contacts__logo {
    width: 210px;
  }
}
@media screen and (max-width: 768px) {
  .contacts__logo {
    width: 172px;
  }
  .request {
    padding-top: 25px;
  }
  .request .contacts__title {
    margin: 5px 0;
    font-size: 24px;
  }
  .request .address__link,
  .request .address__number {
    font-size: 18px;
  }
  .request .contacts__email {
    font-size: 22px;
  }
  .request__contacts .social__link {
    width: 32px;
    height: 32px;
  }
  .request__form .form__btn {
    font-size: 18px;
  }
  .form__row label {
    font-size: 14px;
  }
}
@media screen and (max-width: 576px) {
  .request .contacts__title {
    font-size: 20px;
  }
  .request__contacts {
    row-gap: 15px;
  }
  .request .address__link,
  .request .address__number {
    font-size: 16px;
  }
  .request .contacts__email {
    font-size: 18px;
  }
  .request__contacts .social__link {
    width: 28px;
    height: 28px;
  }
  .request .contacts__line {
    height: 0;
  }
  .request__form .form__btn {
    font-size: 16px;
  }
}/*# sourceMappingURL=blog.css.map */